.item3 {
  display: flex;
  width: 320px;
  justify-content: flex-start;
  align-items: center;
}
.item3 h2 {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #94a3b8;
  text-align: left;
  margin-right: 15px;
  width: 90px;
}
.item3 p {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #94a3b8;
  text-align: left;
}
